pip>=25.0.1
setuptools>=65.5.1
wheel
Flask==3.0.3
Flask-Cors==5.0.0
Jinja2==3.1.4
Werkzeug==3.0.1
pandas==1.5.3
docx2txt==0.8
PyPDF2==3.0.1
pytesseract==0.3.13
nltk==3.9.1
spacy==3.7.5
scikit-learn==1.2.2
numpy==1.21.6
torch==2.4.1
transformers==4.38.0
sentence-transformers==3.1.1
Pillow==9.4.0
opencv-python==4.9.0.80
opencv-python-headless==4.11.0.86
matplotlib==3.7.1
deepface==0.0.93
textblob==0.18.0.post0
email-validator==2.2.0
SpeechRecognition==3.10.4
librosa==0.10.2.post1
moviepy==2.1.1
pdfminer.six==20221105
pdfplumber==0.8.0
openai==1.63.2
tqdm==4.66.5
regex==2023.3.23
PyYAML==6.0.2
aiohttp==3.10.8
async-timeout==4.0.3
typing-extensions==4.12.2
