pip>=25.0.1
setuptools>=65.5.1
wheel
absl-py==2.1.0
aiofiles==22.1.0
aiohappyeyeballs==2.4.3
aiohttp==3.10.8
aiosignal==1.3.1
aiosqlite==0.19.0
aletheia==3.3.2
altair==4.2.2
annotated-types==0.7.0
anyio==3.6.2
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
asttokens==2.2.1
astunparse==1.6.3
async-timeout==4.0.3
attrs==22.2.0
audioread==3.0.1
Babel==2.12.1
backcall==0.2.0
beautifulsoup4==4.13.3
bleach==6.0.0
blinker==1.8.2
blis==0.7.11
cachetools==5.3.0
catalogue==2.0.10
certifi==2024.8.30
cffi==1.15.1
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
cloudpathlib==0.16.0
cmake==3.27.7
colorama==0.4.6
comm==0.1.3
commonmark==0.9.1
confection==0.1.5
contourpy==1.0.7
cryptography==40.0.1
cycler==0.11.0
cymem==2.0.8
dataclasses-json==0.6.7
debugpy==1.6.7
decorator==5.1.1
deepface==0.0.93
defusedxml==0.7.1
Deprecated==1.2.18
dirtyjson==1.0.8
distlib==0.3.6
distro==1.9.0
dnspython==2.6.1
docx2txt==0.8
email_validator==2.2.0
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl#sha256=86cc141f63942d4b2c5fcee06630fd6f904788d2f0ab005cce45aadb8fb73889
entrypoints==0.4
et_xmlfile==2.0.0
executing==1.2.0
fastapi==0.115.0
fastjsonschema==2.16.3
ffmpy==0.4.0
file-magic==0.4.1
filelock==3.8.0
filetype==1.2.0
fire==0.7.0
Flask==3.0.3
Flask-Cors==5.0.0
flatbuffers==24.3.25
fonttools==4.39.3
fqdn==1.5.1
frozenlist==1.4.1
fsspec==2024.6.1
gast==0.5.4
gdown==5.2.0
gensim==4.3.2
gitdb==4.0.10
GitPython==3.1.31
google-pasta==0.2.0
gradio==3.22.1
greenlet==3.1.1
grpcio==1.62.1
gunicorn==23.0.0
h11==0.14.0
h5py==3.10.0
httpcore==1.0.6
httpx==0.27.2
huggingface-hub==0.24.6
idna==3.10
imbalanced-learn==0.11.0
imblearn==0.0
importlib-metadata==6.1.0
ipykernel==6.22.0
ipywidgets==8.1.1
isoduration==20.11.0
itsdangerous==2.2.0
jax==0.5.0
jaxlib==0.5.0
jedi==0.18.2
Jinja2==3.1.4
jiter==0.8.2
joblib==1.4.2
json5==0.9.11
jsonpointer==2.3
jsonschema==4.17.3
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-events==0.6.3
jupyter-ydoc==0.2.4
jupyter_client==8.2.0
jupyter_core==5.3.0
jupyter_server==2.5.0
jupyter_server_fileid==0.9.0
jupyter_server_terminals==0.4.4
jupyter_server_ydoc==0.8.0
jupyterlab==3.6.3
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.9
jupyterlab_server==2.22.1
keras==3.4.1
kiwisolver==1.4.4
langcodes==3.4.1
language_data==1.2.0
lazy_loader==0.4
libclang==18.1.1
librosa==0.10.2.post1
linkify-it-py==2.0.3
llama-cloud==0.1.12
llama-cloud-services==0.6.1
llama-index==0.12.18
llama-index-agent-openai==0.4.6
llama-index-cli==0.4.0
llama-index-core==0.12.18
llama-index-embeddings-openai==0.3.1
llama-index-indices-managed-llama-cloud==0.6.6
llama-index-llms-openai==0.3.20
llama-index-multi-modal-llms-openai==0.4.3
llama-index-program-openai==0.3.1
llama-index-question-gen-openai==0.3.0
llama-index-readers-file==0.4.5
llama-index-readers-llama-parse==0.4.0
llama-parse==0.6.1
llvmlite==0.42.0
lxml==5.2.2
lz4==4.3.3
marisa-trie==1.2.0
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.5
marshmallow==3.26.1
matplotlib==3.7.1
matplotlib-inline==0.1.6
mdit-py-plugins==0.3.3
mdurl==0.1.2
mediapipe==0.10.20
mistune==2.0.5
ml-dtypes==0.4.1
more-itertools==10.5.0
moviepy==2.1.1
mpmath==1.3.0
msgpack==1.1.0
mtcnn==1.0.0
multidict==6.1.0
murmurhash==1.0.10
mypy-extensions==1.0.0
mysql-connector-python==8.0.31
namex==0.0.7
nbclassic==0.5.6
nbclient==0.7.4
nbconvert==7.3.1
nbformat==5.8.0
nest-asyncio==1.6.0
networkx==3.3
nltk==3.9.1
notebook==6.5.4
notebook_shim==0.2.3
numba==0.59.1
numpy==1.21.6
openai==1.63.2
openai-whisper @ git+https://github.com/openai/whisper.git@90db0de1896c23cbfaf0c58bc2d30665f709f170
opencv-contrib-python==4.11.0.86
opencv-python==4.9.0.80
opencv-python-headless==4.11.0.86
openpyxl==3.1.5
opt-einsum==3.3.0
optree==0.10.0
orjson==3.10.7
packaging==24.1
pandas==1.5.3
pandocfilters==1.5.0
parso==0.8.3
pathy==0.10.1
pdfminer.six==20221105
pdfplumber==0.8.0
pickleshare==0.7.5
Pillow==9.4.0
pipdeptree==2.23.4
platformdirs==2.5.4
pooch==1.8.2
preshed==3.0.9
proglog==0.1.10
prometheus-client==0.16.0
prompt-toolkit==3.0.38
protobuf==4.25.5
psutil==5.9.5
pure-eval==0.2.2
pyarrow==11.0.0
pycparser==2.21
pycryptodome==3.21.0
pydantic==2.10.6
pydantic_core==2.27.2
pydeck==0.8.0
pydub==0.25.1
pyfiglet==1.0.2
Pygments==2.18.0
Pympler==1.0.1
PyMuPDF==1.24.9
PyMuPDFb==1.24.9
PyMySQL==1.0.2
pyparsing==3.0.9
pypdf==5.3.0
PyPDF2==3.0.1
pypdfium2==4.30.0
pyresparser==1.0.6
pyrsistent==0.19.3
PySocks==1.7.1
pytesseract==0.3.13
python-dateutil==2.8.2
python-docx==1.1.2
python-dotenv==1.0.1
python-json-logger==2.0.7
python-magic==0.4.27
python-multipart==0.0.12
pytz==2023.2
pytz-deprecation-shim==0.1.0.post0
pywin32==306
pywinpty==2.0.10
PyYAML==6.0.2
pyzmq==25.0.2
qtconsole==5.5.1
QtPy==2.4.1
regex==2023.3.23
requests==2.32.3
retina-face==0.0.17
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.9.1
safetensors==0.4.4
scikit-learn==1.2.2
scipy==1.7.3
seaborn==0.13.0
semver==2.13.0
Send2Trash==1.8.2
sentence-transformers==3.1.1
sentencepiece==0.2.0
shellingham==1.5.4
six==1.16.0
smart-open==6.4.0
smmap==5.0.0
sniffio==1.3.0
sortedcontainers==2.4.0
sounddevice==0.5.1
soundfile==0.13.0
soupsieve==2.4.1
soxr==0.5.0.post1
spacy==3.7.5
spacy-alignments==0.9.1
spacy-legacy==3.0.12
spacy-loggers==1.0.5
spacy-transformers==1.3.5
SpeechRecognition==3.12.0
SQLAlchemy==2.0.38
srsly==2.4.8
stack-data==0.6.2
starlette==0.38.6
StegoCrackerv1.1.0==1.0.0.0
streamlit==1.20.0
striprtf==0.0.26
sympy==1.13.1
tenacity==9.0.0
tensorboard==2.17.0
tensorboard-data-server==0.7.2
tensorflow==2.17.0
tensorflow-intel==2.17.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.4.0
terminado==0.17.1
textblob==0.19.0
tf_keras==2.17.0
thinc==8.2.5
threadpoolctl==3.1.0
tiktoken==0.7.0
tinycss2==1.2.1
tk==0.1.0
tokenizers==0.15.2
toml==0.10.2
tomli==2.0.1
toolz==0.12.0
torch==2.5.1
torchvision==0.20.1
tornado==6.2
tqdm==4.66.5
traitlets==5.9.0
transformers==4.36.2
typer==0.7.0
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata==2023.2
tzlocal==4.3
uc-micro-py==1.0.3
uri-template==1.2.0
urllib3==2.2.3
uvicorn==0.31.0
validators==0.20.0
virtualenv==20.17.0
Wand==0.6.11
wasabi==1.1.3
watchdog==3.0.0
wcwidth==0.2.6
weasel==0.3.4
webcolors==1.13
webencodings==0.5.1
websocket-client==1.5.1
websockets==13.1
Werkzeug==3.0.1
widgetsnbextension==4.0.9
wrapt==1.16.0
xgboost==2.0.2
y-py==0.5.9
yarl==1.13.1
ypy-websocket==0.8.2
zipp==3.15.0
